body {
  background-color: rgb(206, 206, 206);
}

.container {
  margin-top: 10rem;
  text-align: center;
}

.login-card {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: auto;
}
